  .header{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    &__left {
      display: flex;
      align-items: center;
    }
    &__logo img {
      width: 127px;
      margin-right: 90px;
    }
  }
  .menu__item {
    margin-right: 50px;
    color: #A6ABBD;
    background: none;
    padding: 4px 20px;
    &:hover {
      color: #fff;
      background-color: #00C368;
      padding: 4px 20px;
      border-radius: 10px;
      
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .btn {
    color: #fff;
    background-color: #00C368;
    padding: 4px 20px;
    border-radius: 10px;
    &:hover{
      background-color: #45d391;
    }
  }
  .section__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom right, #E2E2E2, #FFFFFF);
    position: relative;
  }
  .bg2{
    background-image: url(../img/bg2.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 332px;
    left: 0;
    bottom: 0;
    height: 325px;
  }
  .bg1{
    background-image: url(../img/bg1.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 402px;
    top: 0;
    right: 0;
    height: 440px;
  }
  h1, h2 {
    text-transform: uppercase;
  }
  .marks__wrapper--img {
    display: none;
  }
  .separator {
    height: 4px;
    width: 184px;
    background-color: #00C368;
    margin-top: 75px;
  }
  .section__main__top {
    display: flex;
      &--el {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 169px;
      margin-right: 100px;
      &:last-child{
        margin-right: 0;
      }
      }
    & img {
      width: 50px;
    }
  }
  .section__main__center {
    display: flex;
    align-items: center;
      &--el {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 169px;
      margin-right: 100px;
      &:last-child{
        margin-right: 0;
      }
      }
    & img {
      width: 50px;
    }
  }
  .section__main__bottom {
    display: flex;
      &--el {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 169px;
      margin-right: 100px;
      &:last-child{
        margin-right: 0;
      }
      }
    & img {
      width: 50px;
    }
  }
  .center--img {
    width: 277px;
    height: 200px;
  }
  #berries--img {
    height: 100%;
    width: 100%;
  }
  .center {
    text-align: center;
  }
  .section__info {
    display: flex;
  }
  .pad-50 {
    padding: 0 50px;
  }
  .card__reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    &__df {
      display: flex;
    }
    &__comp {
      display: flex;
      margin-bottom: 30px;
      &__avatar {
        width: 187px;
        height: 187px;
        & img {
          width: 187px;
          height: 187px;
        }
      }
      &__col {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        & span {
          font-weight: bold;
        }
      }
      &__bot {
        display: flex;
        justify-content: space-between;
      }
      &__text {
        margin-bottom: 10px;
      }
      &--small {
        display: flex;
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
        &__avatar {
          & img {
            width: 80px;
          }
        }
        &__text {
          display: flex;
          flex-direction: column;
          & span {
            font-weight: bold;
          }
        }
      }
    }
  }
.name {
  margin-top: 10px;
}
.mark {
  display: flex;
  &__tel {
    display: none;
  }
}
.marks {
  width: 99px;
  height: 30px;
  background-repeat: no-repeat;
  &__img {
    color: #00C368;
  }
}
.marks--bot {   
  width: 9px;
  height: 12px;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  &__img {
    color: #00C368;
  }
}
h2 {
  width: 400px;
}
.accordeon {
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  flex-direction: column;
  &__title {
    font-weight: bold;
  }
  &__el {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
  }
}
.slider {
  display: none;
}
.marks__img {
  display: none;
}
@media (max-width: 768px) {
  .menu__item {
      margin-right: 0px;
  }
  h1 {
    width: 500px;
    text-align: center;
  }
}
@media (max-width: 425px) {
  h2 {
    width: 300px;
  }
  .center{
    margin-bottom: 59px;
  }
  .marks__wrapper--img{
    display: block;
    width: 121px;
    position: absolute;
    top: -61px;
    right: 147px;
  }
  .slider {
    padding-bottom: 30px;
    display: block;
    &__list {
      display: flex;
    }
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      & img {
        width: 60px;
      }
      & p {
        width: 160px;
        text-align: center;
      }
    }
  }
  .marks__img {
    display: block;
  }
  h1 {
    width: 300px;
  }
  .header {
    justify-content: center;
    &__logo img {
      margin-right: 0;
    }
  }
  h1 {
    text-align: center;
  }
  .section__main {
    background: #fff;
  }
  .section__info {
    flex-direction: column-reverse; 
  }
  .header__menu {
    display: none;
  }
  .btn {
    display: none;
  }
  .none {
    display: none;
  }
  .section__main__top--el{
    margin-right: 0;
  }
  .card__reviews__comp {
    flex-direction: column;
    align-items: center;
    position: relative;
    &__avatar {
      display: none !important;
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
    &__text{
      align-items: center;
    }
    &__bot{
      margin: 0 auto;
    }
    &__col {
      border: 1px solid #00C368;
      border-radius: 20px;
      padding: 20px;
      box-shadow: 0 4px 2px 0 #00C368;
    }
  }
  .marks {
    display: none;
    &--bot {
      display: none;
    }
  }
  .marks__wrapper {
    display: flex;
    justify-content: space-between;
    &--left {
      display: flex;
    }
    &--right {
      display: flex;
    }
  }
  .marks__tel {
    width: 30px;
    height: 30px;
    color: #E7EBF0;
    background-repeat: no-repeat;
  }
  .marks__tel .marks__img {
    width: 30px;
    height: 30px;
  }
  .card__reviews__df {
    flex-direction: column;
  }
  .card__reviews__comp--small {
    flex-direction: row-reverse;
    &__text {
      padding: 10px;
    }
  }
  .separator {
    margin-top: 0px;
  }
  .center {
    padding: 0 14px;
  }
}
@media (max-width: 375px) {
  .marks__wrapper--img{
    right: 124px;
  }
}
@media (max-width: 320px) {
  .marks__wrapper--img{
    right: 89px;
  }
}